{% extends 'home/base.html' %}

{% block title %}
    Головна
{% endblock title %}

{% block content %}
    <section>
        <h2>Про нас</h2>
        <p>Ми – команда ентузіастів, які займаються розробкою сучасних програмних рішень. У складі команди:</p>
        <ul>
          <li class="team-member">Антон Унятицький</li>
          <li class="team-member">Артем Замотаєв</li>
          <li class="team-member">Коля Морозенко</li>
          <li class="team-member">Єгор Артеменко</li>
          <li class="team-member">Андрій Богданов</li>
          <li class="team-member">Артем Мельник</li>

        </ul>
      </section>
      
      <section>
        <h2>Що ви знайдете на нашому сайті?</h2>
        <ul>
          <li><a href="#">Про нас</a> – дізнайтеся більше про нашу команду та проєкти</li>
          <li><a href="#">Новини</a> – останні оновлення та важливі події</li>
          <li><a href="#">Форум</a> – місце для обговорень та обміну ідеями</li>
          <li><a href="#">Галерея</a> – фото та відео з наших проєктів</li>
          <li><a href="#">Календар подій</a> – майбутні зустрічі та важливі дати</li>
          <li><a href="#">Опитування</a> – Цікаві опитування для вас</li>
        </ul>
      </section>
      
{% endblock content %}