
input {
    border: 2px solid rgba(0, 0, 0, 0.412)
}

input:user-invalid {
    border-color: red;
    
}

input[type="password"] {
    background-color: #ffffffeb !important;
    border-color: black; /* Сброс границы (если требуется) */
}

/* Логин и Вход */
/* Карточка -> Логін та вхід*/
.card-my {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    max-width: 500px;
}

/* Заголовок -> Логін та вхід*/
.card-my h3 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.card-my a {
    color: rgb(205, 80, 80);
}

/* Форм-групи -> Логін та вхід */
.form-group-my {
    margin-bottom: 15px;
}

/* Мітки -> Логін та Вхід*/
.form-group-my label {
    font-size: 16px;
    color: #000000;
    margin: 5px;
}

/* Кнопка -> Логін та вхід*/
.btn-my {
    background-color: rgb(252, 117, 117);
    border: none;
    border-color: rgb(224, 103, 103);
    color: black;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-my:hover {
    background-color: rgb(245, 81, 81);
}

/* Пошта -> Логін і Вхід*/
.email {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    outline: none; 
    transition: border-color 0.3s ease;
}
.email:focus {
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 8px rgba(130, 113, 116, 0.8); 
}

/* Помилки -> Вхід*/
.error-list {
    color: red;
    margin-top: 10px;
}

.error-list li {
    list-style-type: none;
}

.btn-outline-my {
    background-color: transparent;
    background-color: #ffffff;
    border: 1px solid black !important;
    color: black;
}
.btn-outline-my:hover {
    background-color: #d3cdcd;
}

.btn-primary-my {
    background-color: transparent;
    background-color: rgb(95, 95, 95);
    color: #fefefe;
}
.btn-primary-my:hover {
    background-color: rgb(46, 46, 46);
    color: #fefefe;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    }

h1 {
    margin: 0;
    font-size: 2.5em;
    }

section {
    padding: 30px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
h2 {
    font-size: 2em;
    color: #333;
    }
p {
    font-size: 1.1em;
    color: #666;
    }
ul {
    list-style-type: none;
    padding: 0;
    }
li {
    margin: 10px 0;
    }
li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    }
li a:hover {
    text-decoration: underline;
    }

.card-user-group {
    background-color: #ffffff;
    border-radius: 15px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    max-width: 300px;
}

/* Заголовок -> Логін та вхід*/
.card-user-group h3 {
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
}

.card-user-group a {
    color: rgb(205, 80, 80);
}

.form-select:focus {
    outline: none;
    border-color: #b07d62;
    box-shadow: 0 0 10px rgba(176, 125, 98, 0.8);
    background-color: #ffffff;
}

details {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid #ccc;
}

.diary-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.diary h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #585958;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.grade {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
}

.password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: 100%;
    padding-right: 40px;
}
.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}